# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild
.env

.dynamodb
AwsConfig.json

# Ignores compiled TypeScript files
**/src/common/**/*.map
**/src/common/**/*.js

lib/
env
.env.production
